<%- include("../includes/A.ejs") %>
<!-- Content Wrapper. Contains page content -->
<style>
  .js-remove--exam-row {
    margin-left: 0.5rem;
    display: block;
  }

  .header_filed {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10rem;
    margin-bottom: 2rem;
  }

  .header_filed h3 {
    font-size: 1rem;
    font-weight: bold;
  }

  .input_style {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 0.5rem;
  }
</style>
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Add Ticket</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">General Form</li>
          </ol>
        </div>
      </div>
    </div>
    <!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <!-- /.row -->
      <form action="">
        <div class="row">
          <!-- left column -->
          <div class="col-md-6">
            <!-- general form elements -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Basic Details</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->

              <div class="card-body">
                <div class="form-group">
                  <label>Ticket Name</label>
                  <input
                    type="text"
                    name="ticket_name"
                    class="form-control"
                    placeholder="Enter Ticket name"
                  />
                </div>
                <div class="row">
                  <div class="col-sm-12">
                    <div class="form-group">
                      <label>Description</label>
                      <textarea
                        class="form-control"
                        rows="4"
                        placeholder="Enter ..."
                      ></textarea>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label>Quantity</label>
                      <input
                        type="text"
                        name="ticket_quantity"
                        class="form-control"
                        placeholder="Enter ..."
                      />
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label>Price (FCAF)</label>
                      <input
                        type="text"
                        name="ticket_price"
                        class="form-control"
                        placeholder="Enter ..."
                      />
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label>Discount (%)</label>
                      <input
                        type="text"
                        name="discount_percentage"
                        class="form-control"
                        placeholder="Enter ..."
                      />
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label>Announced Date</label>
                      <div
                        class="input-group date"
                        id="reservationdatetime"
                        data-target-input="nearest"
                      >
                        <input
                          type="text"
                          name="announced_date"
                          class="form-control datetimepicker-input"
                          data-target="#reservationdatetime"
                        />
                        <div
                          class="input-group-append"
                          data-target="#reservationdatetime"
                          data-toggle="datetimepicker"
                        >
                          <div class="input-group-text">
                            <i class="fa fa-calendar"></i>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label>Brand</label>
                      <select class="form-control">
                        <option>option 1</option>
                        <option>option 2</option>
                        <option>option 3</option>
                        <option>option 4</option>
                        <option>option 5</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label>Category</label>
                      <select class="form-control">
                        <option>option 1</option>
                        <option>option 2</option>
                        <option>option 3</option>
                        <option>option 4</option>
                        <option>option 5</option>
                      </select>
                    </div>
                  </div>
                </div>
                <!--  -->
                <div class="row">
                  <div class="col-sm-12">
                    <div class="form-group">
                      <div class="custom-control custom-checkbox">
                        <input
                          class="custom-control-input"
                          type="checkbox"
                          id="customCheckbox1"
                          value="option1"
                        />
                        <label
                          for="customCheckbox1"
                          class="custom-control-label"
                          >Status</label
                        >
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-12">
                    <div class="form-group">
                      <div class="custom-control custom-checkbox">
                        <input
                          class="custom-control-input trigger"
                          type="checkbox"
                          id="checkbox_one"
                          name="banner"
                          data-trigger="hidden_fields_one"
                        />
                        <label for="checkbox_one" class="custom-control-label"
                          >Banner</label
                        >
                      </div>
                    </div>
                    <div id="hidden_fields_one" class="hidden">
                      <div class="custom-file">
                        <input
                          type="file"
                          class="custom-file-input"
                          id="customFile"
                        />
                        <label class="custom-file-label" for="customFile"
                          >Choose file</label
                        >
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- /.card -->
            <div class="card card-primary">
              <!-- form start -->

              <div class="card-body">
                <div class="row">
                  <div class="col-sm-12">
                    <div class="header_filed">
                      <div class="heding_form">
                        <h3>Highlights</h3>
                      </div>

                      <button
                        type="button"
                        class="btn btn-success js-add--exam-row"
                      >
                        Add more <i class="fas fa-plus-circle"></i>
                      </button>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12">
                    <div class="form-multiple-list" id="form-multiple-list">
                      <div class="form-group d-flex">
                        <input
                          type="text"
                          name="Highlights1"
                          class="form-control"
                          placeholder="Enter highlighted point"
                        />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /.card-body -->
            </div>
            <div class="card card-primary">
              <!-- form start -->
              <div class="card-body">
                <div class="row">
                  <div class="col-sm-12">
                    <div class="header_filed">
                      <div class="heding_form">
                        <h3>Specification</h3>
                      </div>

                      <button
                        type="button"
                        class="btn btn-success js-spcification--exam-row"
                      >
                        Add more <i class="fas fa-plus-circle"></i>
                      </button>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12">
                    <div class="form-multiple-list" id="specification">
                      <div class="form-group 2ndformgrp input_style">
                        <input
                          type="text"
                          name=""
                          class="form-control"
                          placeholder="Key"
                        />
                        <input
                          type="text"
                          name=""
                          class="form-control"
                          placeholder="specification"
                        />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /.card-body -->
            </div>

            <!-- /.card -->
          </div>
          <div class="col-md-6">
            <!-- general form elements -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Media</h3>
              </div>

              <div class="card-body">
                <div class="row">
                  <div class="col-sm-12">
                    <div class="form-group">
                      <label for="customFile">Main Image</label>
                      <div class="custom-file">
                        <input
                          type="file"
                          class="custom-file-input"
                          id="customFile"
                        />
                        <label class="custom-file-label" for="customFile"
                          >Choose file</label
                        >
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
            <div class="card card-primary">
              <div class="card-body">
                <div class="row">
                  <div class="col-sm-12">
                    <div class="form-group">
                      <label for="customFile">Image List</label>
                      <div class="custom-file">
                        <input
                          type="file"
                          class="custom-file-input"
                          id="customFile"
                          multiple
                        />
                        <label class="custom-file-label" for="customFile"
                          >Choose files</label
                        >
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /.card-body -->
            </div>

            <!-- /.card -->
          </div>
        </div>
      </form>
    </div>
    <!-- /.container-fluid -->
  </section>
  <!-- /.content -->
</div>
<script></script>
<!-- /.content-wrapper -->
<%- include("../includes/B.ejs") %>
